.responsive-div {
    display: none;
}

img {
    cursor: pointer;
}


.responsive-td,
.table-display-value {
    /* position: absolute; */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 100%;
    width: fit-content;
}

.responsiveTable thead {
    /* z-index: 3; */
    /* width: 100%; */
}
/* 
.responsiveTable tbody,tr {
    width: 100%;
} */

.table-th {
    display: flex;
    align-items: center;
    width: max-content;
}


.table-icon {
    /* float: right; */
    margin-right: 5px;
    margin-left: 5px;
}

.custom-grid-table {
    overflow: auto;
    min-height: 65vh;
    max-width: 95vw;
    /* margin-bottom: 40px; */
}
.report .custom-grid-table {
    overflow: auto;
    min-height: 45vh;
    max-width: 95vw;
    /* margin-bottom: 40px; */
}

.card .custom-grid-table {
    min-height: 54vh !important;
}

.modal .custom-grid-table {
    min-height: unset !important;
}



@media only screen and (max-width: 767px) {

    .custom-grid-table {
        display: none;
    }

    /*
      Force table elements to not behave like tables anymore
      Hide table headers (but not display: none;, for accessibility)
    */
    .responsive-div {
        display: flex !important;
        flex-direction: column !important;
    }

    .responsive-row {
        display: flex !important;
        flex-direction: row !important;
    }



}